<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="@{../static/components/layout}" lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>Greška</title>
</head>
<body>
    <main layout:fragment="content">
        <div class="alert alert-danger mt-5">
            <h1 class="display-4">Greška [[${status}]] - [[${error}]]</h1>
            <p class="lead" th:text="'Poruka: ' + ${message}"></p>
            <p th:text="'Putanja: ' + ${path}"></p>
        </div>
        <a th:href="@{/}" class="btn btn-primary mt-3">Nazad na početnu</a>
    </main>
</body>
</html>