body {
     font-family: "Nunito", sans-serif;
     font-optical-sizing: auto;
     font-weight: 600;
     font-style: normal;
 }

.nav-link
{
    color: red !important;
    border-style: solid;
    border-width: 1px;
    border-color: white !important;
}

.nav-link:hover
{
    border-style: solid;
    border-width: 1px;
    border-color: red !important;
}

.border-secondary
{
    border-color: red !important;
}

.text-body-secondary
{
    color: red !important;
}

.btn-primary
{
    background-color: red !important;
    color: white !important;
    border-color: red !important;
    border-radius: 0;
}

.btn-primary:hover
{
    background-color: white!important;
    color: red !important;
    border-color: red !important;
    border-radius: 0;
}

.form-control
{
    border-radius: 0 !important;
}

.card
{
    border-radius: 0 !important;
}

.card-img-top
{
    border-radius: 0 !important;
}

.bg-primary
{
    background-color: red !important;
}

.btn-secondary
{
    color: red !important;
    border-style: solid;
    border-width: 1px;
    border-color: white !important;
    background-color: white !important;
    border-radius: 0;
}
.btn-secondary:hover
{
    border-style: solid;
    border-color: red !important;
}

/*Stilovi sa preuzete log in forme ttps://mdbootstrap.com/docs/standard/extended/login/*/
.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}
.h-custom {
    height: calc(100% - 73px);
}
@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}

/*Stilovi preuzeti sa kartice za proizvode https://bootstrapexamples.com/@mateo/product-card-component-using-bootstrap-5*/
.product-card {
    transition: all 0.3s ease;
    overflow: hidden;
    cursor: pointer;
    height: 570px;
}
.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}
.product-image {
    transition: all 0.5s ease;
    height: 300px;
    object-fit: cover;
}
.product-card:hover .product-image {
    transform: scale(1.05);
}
.badge-custom {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
}
.price {
    font-size: 1.5rem;
    font-weight: 600;
    color: #2c3e50;
}