<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="@{../static/components/layout}">
<head>
  <meta charset="UTF-8">
  <title>Profil</title>

</head>
<body>

<main layout:fragment="content">

  <div th:insert="~{fragments/AccountNavBar :: accountNavBar}">
  </div>

  <div class="row mt-5">
    <div class="col-md-12 px-4 py-5 bg-white border border-secondary">

      <h1 class="text-center text-body-secondary">Profil</h1>

      <!--Ispis svih bitnih informacija o korisnickom nalogu-->
      <div class="container-fluid p-1 mt-5">
        <div class="row g-3">

          <div class="col-md-6">
            <div class="p-2 display-6 text-center border border-secondary  h-100 align-content-center">
              Korisničko ime: <span class="text-body-secondary" th:text="${korisnik.getKorisnickoIme()}"></span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="p-2 display-6 text-center border border-secondary  h-100 align-content-center">
              email: <span class="text-body-secondary" th:text="${korisnik.getEmail()}"></span>
            </div>
          </div>

          <div class="col-md-6">
            <div class="p-2 display-6 text-center border border-secondary  h-100 align-content-center">
              Ime: <span class="text-body-secondary" th:text="${korisnik.getIme()}"></span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="p-2 display-6 text-center border border-secondary  h-100 align-content-center">
              Prezime: <span class="text-body-secondary" th:text="${korisnik.getPrezime()}"></span>
            </div>
          </div>

          <div class="col-md-6">
            <div class="p-2 display-6 text-center border border-secondary h-100 align-content-center">
              Adresa: <span class="text-body-secondary" th:text="${korisnik.getAdresa()}"></span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="p-2 display-6 text-center border border-secondary h-100 align-content-center">
              Broj narudžbina: <span class="text-body-secondary" th:text="${brojNarudzbina}"></span>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</main>

</body>
</html>