<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="@{../static/components/layout}">
<head>
    <meta charset="UTF-8">
    <title>Setovi</title>

    <!--Javascript za dodavanje u korpu putem AJAX-a-->
    <script th:src="@{/js/korpaAjax.js}"></script>
</head>
<body>

<main layout:fragment="content">

    <div class="border-bottom border-secondary mt-5 mb-5 text-center">
        <a class="btn btn-lg btn-secondary" th:href="@{/meni/proizvodi}">Proizvodi</a>
        <a class="btn btn-lg btn-primary" th:href="@{/meni/setovi}">Setovi</a>
    </div>

    <div class="border-bottom border-secondary mt-5">
        <h2 class="text-center text-body-secondary">Setovi proizvoda</h2>
    </div>

    <div class="row mt-5">

        <!--Kartice sa ponudama setova-->
        <div class="col-md-4" th:each="artikal : ${setoviMeni}">
            <div class="card product-card border border-secondary d-flex flex-column mb-4">

                <!--Slika i oznaka akcije-->
                <div class="position-relative">
                    <span th:if="${artikal.isNaAkciji()}" class="badge bg-primary badge-custom">Akcija</span>
                    <div class="overflow-hidden">
                        <img th:src="@{'/images/products/' + ${artikal.getId()} + '.jpg'}" class="card-img-top product-image" th:alt="${artikal.getNaziv() + ' slika'}">
                    </div>
                </div>

                <!--Naziv i opis proizvoda-->
                <div class="card-body p-4 d-flex flex-column">
                    <h5 class="card-title mb-3 fw-bold text-body-secondary" th:text="${artikal.getNaziv()}"></h5>
                    <p class="card-text text-muted mb-4 flex-grow-1" th:text="${artikal.getOpis()}"></p>
                    <div class="d-flex justify-content-between align-items-center mt-auto">
                        <span class="price" th:text="${#numbers.formatCurrency(artikal.getCena())}"></span>

                        <!--Dugme za dodavanje u kurpu-->
                        <button class="btn btn-primary dodajuKorpu" th:onclick="|dodajuKorpu(${artikal.getId()})|">
                            Dodaj u korpu
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!--Dugme za prelazak na stranicu za pregled korpe/narucivanje-->
    <div class="row my-5 justify-content-center">
        <a th:href="@{/korpa}" class="btn btn-lg btn-primary">Naruči</a>
    </div>


</main>

</body>
</html>